:root {
  --primary-color: #090057;
  --secondar-color: #ffa069;
  --default-font: "IBM Plex Mono", monospace;
}

html {
  font-family: var(--default-font);
  font-size: 14px;
  margin: 0 auto;
  padding: 24px;
}

h2 {
  line-height: 1.5;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sharers,
.expense {
  border-bottom: 1px solid #fadce5;
}
.sharer {
  border-radius: 2px;
  font-size: 14px;
  padding: 2px;
  font-weight: 600;
  display: flex;
  align-content: center;
  width: auto;
  border: 2px solid #000;
  margin-right: 4px;
}
.sharer .sharer__delete-button {
  color: #d8255b;
  margin-left: 8px;
  text-align: center;
}
.sharer .sharer__delete-button:hover {
  cursor: pointer;
  border-radius: 2px;
  background: #ddd;
}
.sharer-selector {
  width: 4rem;
  margin-right: 0.5rem;
  line-height: 2rem;
  border: 2px solid #000;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.sharer-selector:hover {
  cursor: pointer;
}
.sharer-selector--selected {
  background: var(--secondar-color);
  color: #fff;
  box-shadow: 2px 2px 0 0 var(--primary-color);
}
.sharer-selector--selected::before {
  content: "√";
}
button {
  background: var(--primary-color);
  border: 0;
  min-height: 2rem;
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
  font-family: var(--default-font);
}
input {
  font-family: var(--default-font);
  font-size: 1rem;
  border-radius: 2px;
  height: 2rem;
  font-size: 14px;
  border: 2px solid #000;
  padding-left: 16px;
}
select {
  height: 40px;
  font-size: 16px;
}

table {
  margin: 16px 0;
  width: 100%;
  border-spacing: 0;
}
th {
  height: 32px;
  padding: 4px;
  text-align: left;
}
td {
  height: 40px;
  border: 0;
  border-bottom: 1px solid #fadce5;
}
span {
  padding: 8px;
}
